/*Archivo que se encarga de dar el estilado a nuestro interfaz de valoraciones de nuestro usuario*/

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.reviewForm {
    width: 50rem;
    height: auto;
    padding: 2rem;
    background: linear-gradient(135deg, #f0f0f0, #d3d3d3);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2), -4px -4px 10px rgba(255, 255, 255, 0.5);
    border: 1px solid rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
}

h3 {
    font-size: 3rem;
    text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2), -4px -4px 10px rgba(255, 255, 255, 0.5);
    text-align: center;
}

label {
    font-size: 1.5rem;
}

input {
    height: 2.5rem;
}

button {
    height: 2.5rem;
    background-color: violet;
    cursor: pointer;
    transition: 0.2s;
    color: black;
}

button:hover {
    background-color: rgb(179, 0, 255);
    color: white;
}

.star {
    font-size: 40px;
    color: gray;
    cursor: pointer;
}

.star.selected {
    color: gold;
}

#rating {
    margin-top: 20px;
    font-size: 20px;
}