@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

#valoraciones {
    margin-top: 3rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
    gap: 2rem;
    padding: 0 1rem;
}

.valoracion {
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 70rem;
    width: 100%;
    text-align: center;
    transition: transform 0.3s ease-in-out;
}

.valoracion:hover {
    transform: scale(1.02);
}

.valoracion h3 {
    color: #333;
    font-size: 1.3em;
    margin-bottom: 10px;
}

.valoracion p {
    color: #555;
    font-size: 1em;
    margin: 5px 0;
}

.sinValoraciones {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20rem;
    font-size: 1.5rem;
    text-align: center;
}

button {
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    transition: background 0.3s ease;
    margin-top: 0.5rem;
}

.eliminarValoracion {
    background: #dc3545;
    color: white;
}

.eliminarValoracion:hover {
    background: #c82333;
}

.sinReservas, .sinFavoritos {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20rem;
    font-size: 1.5rem;
    text-align: center;
}

@media screen and (max-width: 768px) {
    #valoraciones {
        margin-top: 2rem;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
        align-items: center;
        gap: 2rem;
        padding: 0 1rem;
        margin-bottom: 4rem;
    }
}
